.searchBarContainer {
    background-color: #7ebaee;
        
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


.searchInput {
    width: 200px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    padding-left: 40px;
   
}


.searchInput:focus {
    outline: none;
}


.btnSearch {
    padding: 5px 10px;
    background-color: #d4d433;
    color: rgb(7, 7, 7);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}


.btnSearch:hover {
    background-color: #52b757;
}

.search-container {
    position: relative;
    display: inline-block;
}

.searchIcon {
    position: absolute;
    top: 50%;
    right: 950px;
    transform: translateY(-50%);
    color: #aaa;
    cursor: pointer;
    width: 15px;
}