.gallery {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}


.item {
    width: calc(25% - 10px);
    margin: 5px;
    
}

.imageInfo {
    display: flex;
        width: 100%;
        gap: 8px;
    font-size: 14px;
        color: #1321e3;
        font-weight: 400;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
        transition: color 0.3s ease;
       flex-direction: column;
        
}

.imageInfo:hover {
color: #0f1731;

}
